#gameArea {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 400px;

}

.card {
    width: 200px;
    height: 200px;
    perspective: 1000px;
    transform-style: preserve-3d;
    transition-property: all;
    transition-duration: 1s;
    backface-visibility: hidden;
}

img {
    width: 100%;
}

.frontFace,
.backFace {
    backface-visibility: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
}

.flip {
    transform: rotateY(180deg);
}

.frontFace {
    transform: rotateY(180deg);
}