#gameArea {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 400px;

}

.card {
    width: 200px;
    height: 200px;
}

img {
    width: 100%;
}

.frontFace,
.backFace {
    position: absolute;
    top: 0px;
    left: 0px;
}


.flip {
    transform: rotateY(180deg);
}