#gameArea {
    border: 2px solid tomato;
    width: 600px;
    height: 400px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 33.3%;
    height: 50%;
    perspective: 1000px;
    transform-style: preserve-3d;
    transition-duration: 1s;
    backface-visibility: hidden;
}

img {
    width: 100%;
}

.frontFace,
.backFace {
    backface-visibility: hidden;
    position: absolute;
}

.flip {
    transform: rotateY(180deg);
}

.frontFace {
    transform: rotateY(180deg);
}

#userOptions {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 5px solid blue;
    width: fit-content;
}

#startOrReset {
    display: flex;
    justify-content: center;
}

.difficultyButton,
.start,
.reset {
    justify-self: center;
    margin: 10px;
}

#powerUp,
#darkOrLight {
    display: flex;
    justify-content: center;
    margin: 10px;
    margin-top: 15px;
}

#darkOrLight {
    margin-top: 25px;
    margin-bottom: 15px;
}

#light {
    margin-right: 20px;
    border: solid black 2px;
}

#dark {
    border: solid white 2px;
}

#playerInfo {
    display: none;
}